:root {
  --mainBase: #f4f2f1;
  --color2: #d8d8d8;
  --grey1: #606060;
  --color3: #6b5876;
  --mainDark: #444444;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  background: var(--mainBase) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-grey {
  color: var(--grey1);
}

.text-bright {
  color: var(--grey1);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainBase) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--color3);
}

#text-info {
  text-transform: none;
}

.main-footer {
  background: var(--color2) !important;
  color: var(--mainDark) !important;
  /* padding-top: 0.5em; */
  position: relative;
  bottom: 0;
  /* height: 3.5em; */
  width: 100%;
  padding-top: 1em;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.carousel {
  width: 26vw;
  height: 60vh;
  width: 100%;

}
